body {
    background:  #181D31;
    margin: 0;
    padding: 0;
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}



.bg img {
    animation: fade 2s normal;
     width: 250px;
     height: 250px;
     border-radius: 100% ;
     box-shadow: 2px 2px 2px #ffff, 10px 1px 12px #ffff,
     2px 2px 10px #ffff, 2px 2px 3px #ffff, inset 2px 2px 10px #ffff,
     inset 2px 2px 10px #ffff, inset 2px 2px 10px #ffff,
     inset 2px 2px 10px #ffff;
     transition: 1s;
}
.bg img:hover{
    transform: scale(1.5);
    cursor: pointer;
}
.bg{
    margin-top: 90px;
    margin-left: 90px;
}
  


@keyframes fade {
    0% {opacity: 0%;}
    50% {opacity: 0%;}
    100% {opacity: 100%;}
}

.pic img {
    animation: fade 3s normal;
     width: 250px;
     height: 250px;
     border-radius: 100% ;
     box-shadow: 2px 2px 2px #ffff, 10px 1px 12px #ffff,
     2px 2px 10px #ffff, 2px 2px 3px #ffff, inset 2px 2px 10px #ffff,
     inset 2px 2px 10px #ffff, inset 2px 2px 10px #ffff,
     inset 2px 2px 10px #ffff;;
     transition: 1s;
}
.pic img:hover{
    transform: scale(1.5);
    cursor: pointer;
}
.pic {
   margin-top: 0px;
   margin-left: 330px;
  
}

@keyframes fade {
    0% {opacity: 0%;}
    50% {opacity: 0%;}
    100% {opacity: 100%;}
}


.art img {
    animation: fade 5s normal;
     width: 250px;
     height: 250px;
     border-radius: 100% ;
     box-shadow: 2px 2px 2px #ffff, 10px 1px 12px #ffff,
     2px 2px 10px #ffff, 2px 2px 3px #ffff, inset 2px 2px 10px #ffff,
     inset 2px 2px 10px #ffff, inset 2px 2px 10px #ffff,
     inset 2px 2px 10px #ffff;
     transition: 1s;
}
.art img:hover{
    transform: scale(1.5);
    cursor: pointer;
}
.art {
   margin-top: -500px;
   margin-left: 610px;
  
}

@keyframes fade {
    0% {opacity: 0%;}
    50% {opacity: 0%;}
    100% {opacity: 100%;}
}


.foto img {
    animation: fade 7s normal;
     width: 250px;
     height: 250px;
     border-radius: 100% ;
     box-shadow: 2px 2px 2px #ffff, 10px 1px 12px #ffff,
     2px 2px 10px #ffff, 2px 2px 3px #ffff, inset 2px 2px 10px #ffff,
     inset 2px 2px 10px #ffff, inset 2px 2px 10px #ffff,
     inset 2px 2px 10px #ffff;
     transition: 1s;
}
.foto img:hover{
    transform: scale(1.5);
    cursor: pointer;
}
.foto {
   margin-top: -10px;
   margin-left: 880px;
  
}

@keyframes fade {
    0% {opacity: 0%;}
    50% {opacity: 0%;}
    100% {opacity: 100%;}
}



@media only screen and (max-width:1300px){
    .bg {
       margin-top: 15%;
       margin-left: 50%;
    }
    .bg img {
        width: 150px;
        height: 150px;
    }
    .pic {
        margin-top: -5%;
        margin-left: 10%;
    }
    .pic img{
        width: 150px;
        height: 150px;
    }
    .art {
        margin-top: -5%;
        margin-left: 50%;
    }
    .art img {
        width: 150px;
        height: 150px;
    }
    .foto {
        margin-top: 0%;
        margin-left: 15%;
    }
    .foto img{
        width: 150px;
        height: 150px;
    }
}

